<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Datos del Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vistasheet.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
</head>
<body class="bg-gray-100 p-8">

    <div class="max">
        <a href="{{ url_for('index') }}" class="logoboton"><img src="{{ url_for('static', filename='images/aidex.png') }}" class="logo" alt="logo"></a>
        <h1>Información del Usuario</h1>

        <div class="grid">
            <div class="inf">
                <p class="titulo">Nombre:</p>
                <p>{{ contacto.nombre }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Cédula:</p>
                <p>{{ contacto.cedula }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Fecha:</p>
                <p>{{ contacto.fecha }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Email:</p>
                <p>{{ contacto.email }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Contacto de Emergencia:</p>
                <p>{{ contacto.contacto_emergencia }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Enfermedad:</p>
                <p>{{ contacto.enfermedad }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Alergia:</p>
                <p>{{ contacto.alergia }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Medicamento:</p>
                <p>{{ contacto.medicamento }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Tipo de Sangre:</p>
                <p>{{ contacto.tipo_de_sangre }}</p>
            </div>
            <div class="inf">
                <p class="titulo">Comentarios:</p>
                <p class="hitespace-pre-line">{{ contacto.comentarios }}</p>
            </div>
        </div>
        <h3>© 2025 Todo el dinero resevado para comprar pod.</h3>
    </div>

</body>
</html>