<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}" class="logoboton">
            <img src="{{ url_for('static', filename='images/aidex.png') }}" class="logo2"/>
        </a>
        <div class="links">
            <li>
                <a href="{{ url_for('sobre_nosotros') }}" target="_blank" class="nav-link">Sobre nosotros</a>
            </li>
        </div>
    </div>
    <div class="bloque">
        <div class="titulo">
            <h2>INGRESA EL NUMERO DE IDENTIFICACION</h2>
        </div>
        <div class="contenido">
            <div class="imagen">
                <img src="{{ url_for('static', filename='images/qrejemplo.png') }}" class="qr">
            </div>
            <div class="info">
                <form class="identificador" method="post" action="/buscar">
                    <label for="nombre">Numero</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa el numero encima del QR" required>
                    <button type="submit">Buscar</button>
                </form>

                {% if mensaje_ %}
                <p style="color: rgb(255, 255, 255); font-weight: bold;">{{ mensaje_ }}</p>
                {% endif %}

            </div>
        </div>
    </div>
</body>
<div class="footer">
    <img src="{{ url_for('static', filename='images/aidex.png') }}" class="logo2"/>
    <h3>© 2025 Todo el dinero resevado para comprar pod.</h3>
</div>
</html>